# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
# Gradle auto-import
*.iml
modules.xml
gradle.xml
usage.statistics.xml
libraries.xml
